*#
.#*
*~
.*.swp
*.bak
.vscode

# haskell/cabal

cabal.sandbox.config
cabal.project.local
.ghc.environment.*
.hpc/
*.hi
*.o
*.p_hi
*.prof
*.tix
dist
dist-*

/cabal-install/dist/
/cabal-install/Setup
/cabal-install/source-file-list

# Output of release and bootstrap
_build
