/* Colors */
:root {
    --color-navy: #001f3f;
    --color-blue: #0074d9;
    --color-aqua: #7fdbff;
    --color-teal: #39cccc;
    --color-olive: #3d9970;
    --color-green: #2ecc40;
    --color-lime: #01ff70;
    --color-yellow: #ffdc00;
    --color-orange: #ff851b;
    --color-red: #ff4136;
    --color-maroon: #85144b;
    --color-fuscia: #f012be;
    --color-purple: #b10dc9;
    --color-black: #444444;
    --color-gray: #aaaaaa;
    --color-silver: #dddddd;
    --color-white: #ffffff;
}

/* Globals */

:root {
    --color-foreground: var(--color-black);
    --color-background: var(--color-white);
    --color-accent: var(--color-olive);

    --padding-default: 10px;

    --font-family-default: "Montserrat", sans-serif;
    --font-family-code: "Source Code Pro", monospace;
}