#search-posts {
    display: block;
    width: 100%;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding: 0.5em 0;
    border-style: dotted;
    border-color: #444;
    border-width: 0 0 1px 0;
}

#search-posts:focus {
    outline-color: #204A87;
}
