.toc {
    padding: 10px;
    border: 1px dotted #444;
}

.toc > ul {
    padding-inline-start: 0;
}

.toc ul {
    margin: 0;
    counter-reset: item;
}

.toc ul li {
    display: block;
}

.toc ul li:before {
    content: counters(item, ".") " ";
    counter-increment: item
}

.toctitle {
    font-weight: bold;
    text-align: center;
}

.headerlink {
    text-decoration: none;
    margin-inline-start: 5px;
    display: none;
}

h1:hover .headerlink,
h2:hover .headerlink,
h3:hover .headerlink,
h4:hover .headerlink,
h5:hover .headerlink,
h6:hover .headerlink {
    display: inline;
}
