body {
    margin: 0 auto;
    padding: 1em;
    max-width: 50em;
}

table {
    border-collapse: collapse;
    margin: auto;
}

th {
    padding: 1px;
}

pre {
    background-color: #f1f1f1;
    overflow-y: hidden;
}

img {
    display: block;
    margin: auto;
}

article {
    hyphens: auto;
}