body {
    margin: 0 auto;
    padding: 1em;
    max-width: 50em;
}

table {
    border-collapse: collapse;
    margin: auto;
}

th {
    padding: 3px;
}

pre {
    background-color: whitesmoke;
    overflow-y: hidden;
}

img {
    display: block;
    margin: auto;
}

article {
    hyphens: auto;
}

a {
    color: navy;
}