{% set nb_title = nb.metadata.get('title', '') or resources['metadata']['name'] %}

<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Oskar Lundin's website.">
		<meta name="author" content="Oskar Lundin">

        <title>{{nb_title}} - www.oskarlundin.com</title>

        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/syntax.css">
        <link rel="stylesheet" href="/notebook.css">
	</head>

	<body>
		<header>
			<a href="/"><b>oskarlundin.com</b></a>
		</header>

		<article>
            {%- include 'basic/index.html.j2' -%}
        </article>
	</body>
</html>
