body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px
}

h1, h2, h3 {
    line-height: 1.2
}

header {
    border-bottom: 1px solid #444;
}

footer {
    text-align: center;
    border-top: 1px solid #444;
}

nav {
    float: right;
}

a {
    color: #3D9970;
}