@import url("/css/constants.css");

body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: var(--color-foreground);
    background-color: var(--color-background);
    padding: 0 calc(2*var(--padding-default));
}

h1, h2, h3 {
    line-height: 1.2;
}

header {
    border-bottom: 1px solid var(--color-foreground);
    padding-bottom: var(--padding-default);
    font-weight: bold;
}

footer {
    text-align: center;
    border-top: 1px solid var(--color-foreground);
    padding-top: var(--padding-default);
}

nav {
    text-align: right;
}

#logo {
    float: left;
}

#logo a {
    text-decoration: none;
    color: #000;
}

#logo img {
    width: 1em;
    height: 1em;
    display: inline-block;
    margin-bottom: -0.15em;
}

a {
    color: var(--color-accent);
}
