.post {
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.post-title {
    margin: 0;
}

.post-date {
    margin: 0;
}

.post-tags {
    margin: 0;
}

.post-lead {
    margin-block-start: 0.5em;
    margin-block-end: 1.0em;
}