.post {
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.post-title {
    margin-block-end: 0.5em;
}

.post-meta {
    margin: 0;
}

.post-lead {
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.post-content {

}

.post-content figure {
    text-align: center;
}

.post-content figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.post-content figure figcaption {
    font-style: italic;
}

.post-content hr {
    border-top: 1px dotted #444;
    border-right: none;
    border-bottom: none;
    border-left: none;
}