<!doctype html>
<html lang="en">


<head>
{%- block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Oskar Lundin">
<meta name="description" content="{{ page.description }}">
<meta name="theme-color" content="#204A87">

{%- block opengraph %}
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:title" content="{% if page.title %}{{ page.title }} :: {% endif %}{{ site.title }}">
<meta property="og:uri" content="{{ site.url }}{{ page.uri[1:] }}">
<meta property="og:description" content="{{ page.description }}">
{# <meta property="og:image" content=""> #}
<meta property="og:type" content="website">
{% endblock -%}

<title>
{%- block title %}
{% if page.title %}{{ page.title }} :: {% endif %}{{ site.title }}
{% endblock -%}</title>
<link rel="stylesheet" type="text/css" href="/css/main.css">
<link rel="stylesheet" type="text/css" href="/css/content.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">
{%- block stylesheets %}
{% endblock -%}
{%- block scripts %}
{% endblock -%}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-145117300-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-145117300-1');
</script>
{% endblock -%}
</head>


<body>
{%- block body %}

<header>
{%- block header %}
<span id="logo">
    <a href="/">
        <img src="/images/logo.svg" />
        oskarlundin.com
    </a>
</span>
<nav>
<a href="/">home</a> ::
<a href="/posts/">posts</a> ::
<a href="/about/">about</a>
</nav>
{% endblock -%}
</header>

<main>
{%- block main %}
{% endblock -%}
</main>

<footer>
{%- block footer %}
<a href="https://git.oskarlundin.com/oskar/website">source</a> ::
<a href="https://git.oskarlundin.com">git</a> ::
<a href="https://files.oskarlundin.com">files</a> ::
<a href="mailto:c.oskar.lundin@gmail.com">mail</a>
<br>
&copy; Copyright 2019 Oskar Lundin
{% endblock -%}
</footer>

{% endblock -%}
</body>


</html>