<!doctype html>
<html lang="en">


<head>
    {% block head %}

    <meta charset="utf-8">
    <meta name="description" content="...">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
    {% block title %}
    {% if not page.title %}
    oskarlundin.com
    {% else %}
    {{ page.title }} - oskarlundin.com
    {% endif %}
    {% endblock %}
    </title>
    
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    {% block stylesheets %}
    {% endblock %}

    {% endblock %}
</head>


<body>
    {% block body %}

    <header>
        {% block header %}
        <a href="/">oskarlundin.com</a>
        <nav>
            <a href="/">home</a>
            <a href="/posts/">posts</a>
            <a href="/about/">about</a>
        </nav>
        {% endblock %}
    </header>

    <main>
        {% block main %}
    
        {% endblock %}
    </main>

    <footer>
        {% block footer %}
        © Copyright 2019 Oskar Lundin
        {% endblock %}
    </footer>

    {% endblock %}
</body>


</html>