{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/css/post.css">
{% endblock %}

{% block main %}
<article class="post">
<h1 class="post-title">{{ page.title }}</h1>
<p class="post-created">Created: <time>{{ page.created.strftime("%Y-%m-%d") }}</time></p>
<p class="post-modified">Modified: <time>{{ page.modified.strftime("%Y-%m-%d") }}</time></p>
<p class="post-tags">Tags: {% for tag in page.meta.tags %}{{ tag }}{{ ", " if not loop.last }}{% endfor %}</p>
<p class="post-lead">{{ page.meta.lead }}</p>
<div class="post-content">{{ page.content|safe }}</div>
</article>
{% endblock %}