{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/css/post.css">
<link rel="stylesheet" type="text/css" href="/css/codehilite.css">
<link rel="stylesheet" type="text/css" href="/css/codehilite-syntax.css">
<link rel="stylesheet" type="text/css" href="/css/footnote.css">
<link rel="stylesheet" type="text/css" href="/css/admonition.css">
<link rel="stylesheet" type="text/css" href="/css/toc.css">
{% endblock %}

{% block main %}
<article class="post">
<h1 class="post-title">{{ page.title }}</h1>
<p class="post-meta">Created: <time>{{ page.created }}</time></p>
<p class="post-meta">Modified: <time>{{ page.modified }}</time></p>
<p class="post-meta">Tags: {% for tag in page.tags %}{{ tag }}{{ ", " if not loop.last }}{% endfor %}</p>
<p class="post-lead">{{ page.lead }}</p>
<div class="post-content">{{ page.content|safe }}</div>
</article>
{% endblock %}