body {
    margin: 0 auto;
    padding: 1em;
    max-width: 50em;
}

table {
    border: thin;
    border-collapse: collapse;
    margin: auto;
    padding: 1em;
}

pre {
    overflow: auto;
}

img {
    display: block;
    margin: auto;
}

article {
    hyphens: auto;
}

a {
    color: navy;
}

#toc-title {
    font-weight: bold;
}